
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #ffd500, #ffe400, #ff9e00, #ffaa00);
    background-size: 300% 300%;
    animation: gradient-animation 10s ease infinite;
}

textarea {
    font-size: 16px;
    font-family: monospace;

}
.card-body {
    background: #b8b1a5;
}

pre {
    white-space: pre-wrap; 
    word-wrap: break-word;
}
